######################
# WordPress Database #
######################
/db_data/

###########
# Plugins #
###########
/html/wp-content/plugins
/html/wp-content/languages/plugins/woocommerce*

#################
# OS/Editor/IDE #
#################
.DS_Store

#############
# Debugging #
#############
/html/wp-content/debug.log
